@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-LightItalic.eot');
        src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
        }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Regular.eot');
        src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Bold.eot');
        src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-BoldItalic.eot');
        src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
        }